<h1>Guest Book</h1>

<% if !current_guest.nil? %>
  <%= render :partial => "form", :locals => { :guest => current_guest } %>
<% end %>

<%= render :partial => "posts", :locals => { :posts => @posts } %>
