<h1>Guest Book</h1>
<div id="guestbook">
<% @posts.each do |post| %>
    <div class="post">
        <div class="post-title"><%= post.title %></div>
        <div class="post-body"><%= post.body %></div>
    </div>
<% end %>
</div>
